.container {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 40px;
	border-radius: 0px 0px 15px 15px;
	width: 200px;
	height: 250px;
	border: 1px black solid;
	}

.container:hover {
	box-shadow: 0px 1px 5px;
	cursor: pointer

}

.top {
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: white;
	height: 15%;
}

.top h4 {
	margin-bottom: 18px;
	margin-left: 5px;
	width: 100%
}

.top button {
	width: 15%;
	height: 100%;
	background-color: red;
	margin: 1px
}

.bottom {
	display: flex;
	height: 85%;
}

.image {
	display: flex;
	margin-left: -21px;
	object-fit: cover;
	width: 100%;
	height: 212px;
	border-radius: 0px 0px 15px 15px;
	border: 1px black solid
}
